body {
  background-color: #000000;
}
.title {
  position: absolute;
  top: 8%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: blue;
  font-family: arial;
  font-size: 10vw;
  width: 5vw;
  white-space: nowrap;
}
a { 
  color: inherit; 
  text-decoration: inherit;
} 
img {
  max-width: 100%;
  height: auto;
}
html {
  background-image: url(eggton.jpeg);
  background-repeat: repeat; 
  background-size: 50vw;
}