body {
  background-color: #000000;
}
.title {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: blue;
  font-family: arial;
  font-size: 10vw;
  width: 5vw;
  white-space: nowrap;
}
a { 
  color: inherit; 
  text-decoration: inherit;
} 